{% extends 'base.html'%}
{% block title %}
About Us
{% endblock %}
{% block content %}
<div class="fs-2 text-center"><b>About  </b><b class="text-ocolor">Us
    <i class="fa-solid fa-cart-shopping"></i>
</b></div>
<div class="row">
    <div class="col-sm-12"></div>

    <p class="text-center fs-4 mt-4 mx-4 px-4 ">
Welcome to our e-commerce book platform! We are an online platform dedicated to providing a seamless and convenient experience for book enthusiasts. Our goal is to connect readers with their favorite books in a user-friendly and efficient manner.

At our platform, you will find an extensive collection of books spanning various genres, including fiction, non-fiction, self-help, fantasy, romance, mystery, and many more. We strive to cater to the diverse reading preferences of our customers by offering a wide range of titles from both popular authors and emerging writers.</p>

</div>

{% endblock %}